env/*
!env/gamedata/
env/gamedata/logs/*
env/gamedata/defaultresourcepack/skins/*
env/gamedata/*.txt
env/gamedata/servers.dat
env/gamedata/usercache.json
!env/console.bat
!env/launcher.vbs

client.iml
# desktop.ini
# env/desktop.ini
# resources/desktop.ini
# src/desktop.ini
# tests/desktop.ini
**/desktop.ini
out/
.idea/