out/*
.idea/workspace.xml
.idea/uiDesigner.xml

client/env/*
!client/env/gamedata/
client/env/gamedata/logs/*
client/env/gamedata/defaultresourcepack/skins/*
client/env/gamedata/*.txt
client/env/gamedata/servers.dat
client/env/gamedata/usercache.json
!client/env/console.bat
!client/env/launcher.vbs
server/env/*
production/*
vanilla/*

**/desktop.ini

